<div class="sobremi animate__animated animate__fadeIn">
    <div class="container">
        <div class="card card0">
            <div class="border">
                <h2>Ronaldo Torres Cáceres</h2>
                <div class="icons">
                    <a href="https://github.com/ronaldo071515" target="_blank"><i class="fa fab fa-github"
                            id="git"></i></a>
                    <a href="https://twitter.com/r_0_n_a_l_d_0" target="_blank"><i class="fa fa-twitter"
                            id="twi"></i></a><!-- <i class=""></i> -->
                    <a href="https://www.linkedin.com/in/ronaldo-torres-656a37189/" target="_blank"><i
                            class="fa fab fa-linkedin" id="link"></i></a>
                </div>
            </div>
        </div><!-- End card -->
    </div>
    <div class="descripcion">
        <p class="descripcion_text">Soy <span class="name">Ronaldo Torres Cáceres. </span>Soy un desarrollador web junior
            apasionado por la tecnología y el diseño de soluciones innovadoras. Actualmente estoy fortaleciendo mis
            habilidades en proyectos con Angular, TailwindCSS, Node.js y Prisma, siguiendo principios de arquitectura
            limpia. Me interesa crear experiencias digitales funcionales, estéticas y escalables.</p>
    </div>
</div>