<mat-card class="text-center mat-elevation-z8 animate__animated animate__fadeIn">
    <h1>{{'Sobre mí' | uppercase}}</h1>
</mat-card>

<div class="sobremi animate__animated animate__fadeIn">
    <div class="container">
        <div class="card card0">
            <div class="border">
                <h2>Ronaldo Torres Cáceres</h2>
                <div class="icons">
                    <a href="https://github.com/ronaldo071515" target="_blank"><i class="fa fab fa-github" id="git"></i></a>
                    <a href="https://twitter.com/r_0_n_a_l_d_0" target="_blank"><i class="fa fa-twitter" id="twi"></i></a><!-- <i class=""></i> -->
                    <a href="https://www.linkedin.com/in/ronaldo-torres-656a37189/" target="_blank"><i class="fa fab fa-linkedin" id="link"></i></a>
                </div>
            </div>
        </div><!-- End card -->
    </div>
    <div class="descripcion">
        <p class="descripcion_text">Soy <span class="name">Ronaldo Torres Cáceres</span>, desarrollador junior, apasionado por la programación, me encanta aprender cada día cosas nuevas, disfruto aprender mientras programo.</p>
    </div>
</div>