<mat-toolbar class="mat-elevation-z8" color="primary">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    <span class="text-write">Hola, Soy Ronaldo Torres Cáceres.</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="https://avatars.githubusercontent.com/u/42970834?v=4">

    <h4 class="name">Ronaldo Torres</h4>
    <p class="designation">Desarrollador Web</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon class="menu-icon">home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-button class="menu-button" routerLink="/projects">
      <mat-icon class="menu-icon">person</mat-icon>
      <span>Proyectos</span>
    </button>
    <button mat-button class="menu-button" routerLink="sobre-mi">
      <mat-icon class="menu-icon">info</mat-icon>
      <span>Sobre mí</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="contacto">
      <mat-icon class="menu-icon">contactless</mat-icon>
      <span>Contáctame</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<a aria-label="Chat on WhatsApp" href="https://wa.me/573213073686" class="btn-wsp" target="_blank">
  <i class="fab fa-whatsapp"></i>
</a>