<mat-card class="text-center mat-elevation-z8 animate__animated animate__fadeIn">
    <h1>{{'mis proyectos' | uppercase}}</h1>
</mat-card>

<div class="proyectos">

    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Cotizador</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/cotizador.png" alt="Imagen Cotizador">
        <mat-card-content>
          <p>Cotizador de criptomonedas usando JavaScript y además consumiendo una API</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://monumental-conkies-2bdf19.netlify.app" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>APV</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/apv.png" alt="Imagen APV">
        <mat-card-content>
          <p>Administración de pacientes de veterinaria, fullstack: MERN</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://chipper-empanada-285617.netlify.app" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Pipes Angular</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/pipes.png" alt="Imagen Pipes">
        <mat-card-content>
          <p>Aplicación realizada en el curso de angular para el uso de los pipes, usando PrimeNg</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://symphonious-gumdrop-c92948.netlify.app" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Buscador de Recetas</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/comida.png" alt="Imagen buscador recetas">
        <mat-card-content>
          <p>Buscador de comidas con JavaScript, consumiendo una api, y guardando en LocalStorage</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://ronaldo-recetas.netlify.app/" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Aplicación Movil</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/app.png" alt="Imagen Aplicación Movil">
        <mat-card-content>
          <p>Aplicación Movil realizada con ionic, y node como backend</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://play.google.com/store/apps/details?id=com.dev.appMovilSena" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Página web</mat-card-title>
        </mat-card-header>
        <img
          class="proyectos__imagen" 
          mat-card-image src="./assets/podcast.png" alt="Imagen podcast">
        <mat-card-content>
          <p>Página web hecha con sass, en curso de css y sass</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://charming-cobbler-6cfe66.netlify.app" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z8 animate__animated animate__fadeIn mascara">
        <mat-card-header>
          <mat-card-title>Préstamos</mat-card-title>
        </mat-card-header>
        <img
        class="proyectos__imagen" 
        mat-card-image src="./assets/react.png" alt="Imagen app en react">
        <mat-card-content>
          <p>Aplicación realizada como introducción a React</p>
        </mat-card-content>
        <mat-card-actions>
          <a class="url" href="https://inquisitive-frangollo-605735.netlify.app/" target="_blank">
            <mat-icon>visibility</mat-icon>
          </a>
        </mat-card-actions>
    </mat-card>

</div>