<h1 class="contacto animate__animated animate__fadeIn">{{'Contáctame' | uppercase}}</h1>

<section class="animate__animated animate__fadeIn">
      <div class="direct-contact-container">
        
        <div>
            <ul class="social-media-list">
                <li><a href="https://github.com/ronaldo071515" target="_blank" class="contact-icon">
                    <i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://www.linkedin.com/in/ronaldo-torres-656a37189/" target="_blank" class="contact-icon">
                    <i class="fa fab fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://twitter.com/r_0_n_a_l_d_0" target="_blank" class="contact-icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li><a href="mailto:#" title="Send me an email" class="contact-icon">
                    <i class="fa fas fa-envelope" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>

      </div>
</section>